<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ASPSupportNodes</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.ASPSupportNodes</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ASPSupportNodes</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ASPBlockStorage</key>
		<dict>
			<key>IOClass</key>
			<string>ASPBlockStorage</string>
			<key>IOMatchCategory</key>
			<string>ASPBlockStorage</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPDiagnostic</key>
		<dict>
			<key>IOClass</key>
			<string>ASPDiagnostic</string>
			<key>IOMatchCategory</key>
			<string>ASPDiagnostic</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPEffaceable</key>
		<dict>
			<key>IOClass</key>
			<string>ASPEffaceable</string>
			<key>IOMatchCategory</key>
			<string>ASPEffaceable</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPFirmware</key>
		<dict>
			<key>IOClass</key>
			<string>ASPFirmware</string>
			<key>IOMatchCategory</key>
			<string>ASPFirmware</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPLLBFirmware</key>
		<dict>
			<key>IOClass</key>
			<string>ASPLLBFirmware</string>
			<key>IOMatchCategory</key>
			<string>ASPLLBFirmware</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPNVRAM</key>
		<dict>
			<key>IOClass</key>
			<string>ASPNVRAM</string>
			<key>IOMatchCategory</key>
			<string>ASPNVRAM</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPPanicLog</key>
		<dict>
			<key>IOClass</key>
			<string>ASPPanicLog</string>
			<key>IOMatchCategory</key>
			<string>ASPPanicLog</string>
			<key>IOProviderClass</key>
			<string>ASPStorage</string>
		</dict>
		<key>ASPSEPNotifier</key>
		<dict>
			<key>IOClass</key>
			<string>ASPSEPNotifier</string>
			<key>IOMatchCategory</key>
			<string>ASPSEPNotifier</string>
			<key>IOProviderClass</key>
			<string>AppleSEPManager</string>
		</dict>
		<key>ASPStorage</key>
		<dict>
			<key>AppleNANDStatus</key>
			<string>Initializing</string>
			<key>IOClass</key>
			<string>ASPStorage</string>
			<key>IONameMatch</key>
			<string>ANSEndpoint1</string>
			<key>IOProviderClass</key>
			<string>RTBuddyEndpointService</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleNANDConfigAccess</key>
		<string>1.0.0</string>
		<key>com.apple.driver.IOSlaveProcessor</key>
		<string>1.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0</string>
		<key>com.apple.iokit.EncryptedBlockStorage</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOCryptoAcceleratorFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
