<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleMarconiBTDriver</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMarconiBTDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMarconiBTDriver</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBTHci</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMarconiBTDriver</string>
			<key>IOClass</key>
			<string>AppleBTHci</string>
			<key>IONameMatch</key>
			<array>
				<string>MarconiBTEndpoint1</string>
				<string>MarconiBTEndpoint2</string>
				<string>MarconiBTEndpoint3</string>
				<string>MarconiBTEndpoint4</string>
				<string>MarconiBTEndpoint5</string>
				<string>MarconiBTEndpoint6</string>
				<string>MarconiBTEndpoint7</string>
				<string>MarconiBTEndpoint8</string>
				<string>MarconiBTEndpoint9</string>
				<string>MarconiBTEndpoint10</string>
				<string>MarconiBTEndpoint11</string>
				<string>MarconiBTEndpoint12</string>
				<string>MarconiBTEndpoint13</string>
				<string>MarconiBTEndpoint14</string>
				<string>MarconiBTEndpoint15</string>
				<string>MarconiBTEndpoint16</string>
			</array>
			<key>IOProviderClass</key>
			<string>RTBuddyEndpointService</string>
		</dict>
		<key>AppleBTMgmt</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMarconiBTDriver</string>
			<key>IOClass</key>
			<string>AppleBTMgmt</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>role</key>
				<string>MarconiBT</string>
			</dict>
			<key>IOProviderClass</key>
			<string>RTBuddyService</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Apple. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.IOSlaveProcessor</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.driver.corecapture</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
