<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleA7IOP</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleA7IOP</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleA7IOP</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleA7IOPV1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV1</string>
			<key>IONameMatch</key>
			<string>iop,s5l8960x</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleA7IOPV2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV2</string>
			<key>IONameMatch</key>
			<string>iop,s8000</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleA7IOPV2-GFX</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV2GFX</string>
			<key>IONameMatch</key>
			<array>
				<string>iop-gfx,s8000</string>
				<string>iop-gfx,t8010</string>
				<string>iop-gfx,t8011</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleA7IOPV2Marconi</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV2Marconi</string>
			<key>IONameMatch</key>
			<string>iop-marconi,s8000</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleA7IOPV2PMP</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV2PMP</string>
			<key>IONameMatch</key>
			<string>iop-pmp,s8000</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleA7IOPV4</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV4</string>
			<key>IONameMatch</key>
			<string>iop,t8015</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleA7IOPV4-GFX</key>
		<dict>
			<key>IOClass</key>
			<string>AppleA7IOPV4GFX</string>
			<key>IONameMatch</key>
			<array>
				<string>iop-gfx,t8015</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2011-2014 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.IOSlaveProcessor</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
