<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleHIDTransportMux</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHIDTransportMux</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleHIDTransportMux</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>80.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>80.9</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleHIDTransportMux</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHIDTransportMux</string>
			<key>IOClass</key>
			<string>AppleHIDTransportMux</string>
			<key>IONameMatch</key>
			<array>
				<string>hid-transport,mux</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleSPUHIDDeviceMux - AHT</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHIDTransportMux</string>
			<key>IOClass</key>
			<string>AppleSPUHIDDeviceMux</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>InterfaceType</key>
				<string>Mux</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleHIDTransportInterface</string>
		</dict>
		<key>AppleSPUHIDDeviceMux - SPU</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleHIDTransportMux</string>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>7ACF5332-1A35-4893-87CB-BA64E1887FAE</key>
				<string>AppleSPU.kext/PlugIns/AppleSPULib.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleSPUHIDDeviceMux</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>InterfaceType</key>
				<string>Mux</string>
			</dict>
			<key>IOProviderClass</key>
			<string>AppleSPUHIDInterface</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>"Copyright © 2016 Apple Inc. All rights reserved. [AppleInputDeviceSupport-80.9]"</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleHIDTransport</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleInputDeviceSupport</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleSPU</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.4</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
