<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleT8015</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleT8015</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleT8015</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleT8015IO</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8015IO</string>
			<key>IONameMatch</key>
			<string>arm-io,t8015</string>
			<key>IOPlatformActiveAction</key>
			<integer>80000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleT8015MemCacheController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8015MemCacheController</string>
			<key>IONameMatch</key>
			<string>mcc,t8015</string>
			<key>IOPlatformActiveAction</key>
			<integer>89000</integer>
			<key>IOPlatformQuiesceAction</key>
			<integer>89000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleT8015PlatformErrorHandler</key>
		<dict>
			<key>IOClass</key>
			<string>AppleT8015PlatformErrorHandler</string>
			<key>IONameMatch</key>
			<string>error-handler,t8015</string>
			<key>IOPlatformActiveAction</key>
			<integer>89000</integer>
			<key>IOPlatformQuiesceAction</key>
			<integer>89000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleMonsoonErrorHandler</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
