<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBDeviceAudioController</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleUSBDeviceAudioController 305.56, Copyright © 2000-2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBDeviceAudioController</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBDeviceAudioController</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>305.56</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>305.56</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBDeviceAudioControl</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBDeviceAudioController</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>USBDeviceFunction</key>
				<string>USBAudio2Control</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBDeviceInterface</string>
		</dict>
		<key>AppleUSBDeviceAudioStreamIN</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBDeviceAudioController</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>USBDeviceFunction</key>
				<string>USBAudio2StreamIN</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBDeviceInterface</string>
		</dict>
		<key>AppleUSBDeviceAudioStreamOUT</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBDeviceAudioController</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>USBDeviceFunction</key>
				<string>USBAudio2StreamOUT</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBDeviceInterface</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBDeviceFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
