<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBHSICCellular</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.usb.hsic.cellular</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBHSICCellular</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBHSICCellularManager</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICCellularManager</string>
			<key>IONameMatch</key>
			<string>hsic-baseband</string>
			<key>IOProviderClass</key>
			<string>AppleUSBHSICDevice</string>
		</dict>
		<key>PDPDevice0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICCellularCompositeDriver</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>36865</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice0-0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>36865</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice0-1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>6</integer>
			<key>idProduct</key>
			<integer>36865</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice0-2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>8</integer>
			<key>idProduct</key>
			<integer>36865</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice0-3</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>10</integer>
			<key>idProduct</key>
			<integer>36865</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICCellularCompositeDriver</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>36916</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice1-0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>36916</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice1-1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>6</integer>
			<key>idProduct</key>
			<integer>36916</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice1-2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>8</integer>
			<key>idProduct</key>
			<integer>36916</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice1-3</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>10</integer>
			<key>idProduct</key>
			<integer>36916</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICCellularCompositeDriver</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>36915</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice2-0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>36915</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice2-1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>6</integer>
			<key>idProduct</key>
			<integer>36915</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice2-2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>8</integer>
			<key>idProduct</key>
			<integer>36915</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice2-3</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>10</integer>
			<key>idProduct</key>
			<integer>36915</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice2-4</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>12</integer>
			<key>idProduct</key>
			<integer>36915</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice3</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICCellularCompositeDriver</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>36881</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice3-0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProbeScore</key>
			<integer>-10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>36881</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice3-1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProbeScore</key>
			<integer>-10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>6</integer>
			<key>idProduct</key>
			<integer>36881</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice3-2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProbeScore</key>
			<integer>-10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>8</integer>
			<key>idProduct</key>
			<integer>36881</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>PDPDevice3-3</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProbeScore</key>
			<integer>-10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>10</integer>
			<key>idProduct</key>
			<integer>36881</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>Qualcomm-PDP</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICPDP</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceProtocol</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>Qualcomm-QMAP</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHSICQMAP</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceProtocol</key>
			<integer>2</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
		<key>Qualcomm-Unused</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceProtocol</key>
			<integer>0</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>1478</integer>
		</dict>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleIPAppender</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleUSBHSIC</key>
		<string>1.0</string>
		<key>com.apple.driver.usb.AppleUSBHostCompositeDevice</key>
		<string>1.0</string>
		<key>com.apple.driver.usb.networking</key>
		<string>5.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>3.2</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>14.0.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
