<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D51</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBAudio</string>
	<key>CFBundleGetInfoString</key>
	<string>2.8.2f15, Copyright Apple Inc. 2000 -2011</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.8.2</string>
	<key>CFBundleSignature</key>
	<string>aaud</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.8.2f15</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A383</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0.internal</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G142</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBAudioControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBAudioDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceClass</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>AppleUSBAudioStream</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBAudioStreamNode</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceClass</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
		</dict>
		<key>AppleUSBTrinityAudioControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBTrinityAudioDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4353</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>InterfaceDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>4359</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Apple Inc., 2000 -2011</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.8.8b1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9.4fc1</string>
	</dict>
	<key>OSBundleLibraries_arm</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9.4fc1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleLibraries_i386</key>
	<dict>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9.4fc1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b3</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9.4fc1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b3</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b3</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
