<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleT8015PMGR</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2014 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleT8015PMGR</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleT8015PMGR</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleT8015PMGR</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleT8015PMGR</string>
			<key>IOClass</key>
			<string>AppleT8015PMGR</string>
			<key>IONameMatch</key>
			<string>pmgr1,t8015</string>
			<key>IOPlatformActiveAction</key>
			<integer>90000</integer>
			<key>IOPlatformHaltRestartAction</key>
			<integer>90000</integer>
			<key>IOPlatformQuiesceAction</key>
			<integer>90000</integer>
			<key>IOPlatformSleepAction</key>
			<integer>600</integer>
			<key>IOPlatformWakeAction</key>
			<integer>600</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Apple. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.ApplePMGR</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
