<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleMikeyBusAudio</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMikeyBusAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMikeyBusAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleCS46L04Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleCS46L0xDevice</string>
			<key>IOMikeyBusMatchDeviceAnyConfiguration</key>
			<true/>
			<key>IOMikeyBusMatchDeviceClass</key>
			<integer>2</integer>
			<key>IOMikeyBusMatchDeviceSubclass</key>
			<integer>3</integer>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOMikeyBusDevice</string>
		</dict>
		<key>AppleCS46L05Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleCS46L0xDevice</string>
			<key>IOMikeyBusMatchDeviceAnyConfiguration</key>
			<true/>
			<key>IOMikeyBusMatchDeviceClass</key>
			<integer>2</integer>
			<key>IOMikeyBusMatchDeviceSubclass</key>
			<integer>4</integer>
			<key>IOProbeScore</key>
			<integer>1001</integer>
			<key>IOProviderClass</key>
			<string>IOMikeyBusDevice</string>
			<key>MaxHPGain</key>
			<array>
				<dict>
					<key>EU_Compliant</key>
					<false/>
					<key>MaxdB_Generic</key>
					<integer>2</integer>
					<key>ProductID</key>
					<integer>204</integer>
				</dict>
				<dict>
					<key>EU_Compliant</key>
					<false/>
					<key>MaxdB_Generic</key>
					<integer>1</integer>
					<key>ProductID</key>
					<integer>225</integer>
				</dict>
				<dict>
					<key>EU_Compliant</key>
					<true/>
					<key>MaxdB_Generic</key>
					<integer>1</integer>
					<key>ProductID</key>
					<integer>204</integer>
				</dict>
				<dict>
					<key>EU_Compliant</key>
					<true/>
					<key>MaxdB_Generic</key>
					<integer>1</integer>
					<key>ProductID</key>
					<integer>225</integer>
				</dict>
			</array>
		</dict>
		<key>temperature</key>
		<dict>
			<key>IOClass</key>
			<string>AppleCSI2CDevice</string>
			<key>IOName</key>
			<string>tmp103</string>
			<key>IOProviderClass</key>
			<string>AppleCSI2CController</string>
			<key>OTPI2CMatch</key>
			<integer>3</integer>
			<key>compatible</key>
			<string>temperature,tmp103</string>
			<key>reg</key>
			<data>
			cAAAAMQJAAAAAAAAAAAAAA==
			</data>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleCSEmbeddedAudio</key>
		<string>1.1</string>
		<key>com.apple.driver.AppleEmbeddedAudio</key>
		<string>1.1</string>
		<key>com.apple.driver.AppleEmbeddedMikeyBus</key>
		<string>1.0.0d1</string>
		<key>com.apple.iokit.IOAccessoryManager</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOMikeyBusFamily</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
