<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOStreamUserClient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOStreamUserClient</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOStreamUserClientInit</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOStreamFamily</string>
			<key>IOClass</key>
			<string>IOStreamUserClientInit</string>
			<key>IOProviderClass</key>
			<string>IOStream</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>57C89438-A0A2-4AFC-9FF2-DE64C02F815C</key>
					<string>IOStreamFamily.kext/Contents/PlugIns/IOStreamLib.plugin</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>IOStreamUserClient</string>
			</dict>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOStreamFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
