<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleBasebandPCIMAVControl</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleBasebandPCIMAVControl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBasebandPCIMAVControl</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBasebandPCIMAVControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBasebandPCIMAVControl</string>
			<key>IOClass</key>
			<string>AppleBasebandPCIMAVControl</string>
			<key>IOMatchCategory</key>
			<string>AppleBasebandPCIMAVControl</string>
			<key>IOProviderClass</key>
			<string>AppleBasebandN71</string>
			<key>IOUserClientClass</key>
			<string>AppleBasebandPCIControlUserClient</string>
			<key>MHIDevice</key>
			<dict>
				<key>MHIChannel</key>
				<array>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>1</integer>
						<key>index</key>
						<integer>2</integer>
						<key>protocol</key>
						<string>sahara</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>1</integer>
						<key>index</key>
						<integer>3</integer>
						<key>protocol</key>
						<string>sahara</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>14</integer>
						<key>log_binary</key>
						<integer>16</integer>
						<key>protocol</key>
						<string>qmux1</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>100</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>7</integer>
							</dict>
							<key>size</key>
							<integer>1024</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>15</integer>
						<key>log_binary</key>
						<integer>16</integer>
						<key>protocol</key>
						<string>qmux1</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>100</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>13</integer>
							</dict>
							<key>size</key>
							<integer>512</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>16</integer>
						<key>log_binary</key>
						<integer>16</integer>
						<key>protocol</key>
						<string>qmux2</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>100</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>7</integer>
							</dict>
							<key>size</key>
							<integer>1024</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>17</integer>
						<key>log_binary</key>
						<integer>16</integer>
						<key>protocol</key>
						<string>qmux2</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>100</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>13</integer>
							</dict>
							<key>size</key>
							<integer>512</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>3</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>100</integer>
						<key>protocol</key>
						<string>qmap</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>sync</key>
						<integer>1</integer>
						<key>transfer_ring</key>
						<dict>
							<key>alignment</key>
							<integer>2048</integer>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>50</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>100</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>4</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>101</integer>
						<key>protocol</key>
						<string>qmap</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>sync</key>
						<integer>1</integer>
						<key>transfer_ring</key>
						<dict>
							<key>alignment</key>
							<integer>2048</integer>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>50</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>100</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>2</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>4</integer>
						<key>protocol</key>
						<string>diag</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>0</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>2</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>5</integer>
						<key>protocol</key>
						<string>diag</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>0</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>10</integer>
						<key>protocol</key>
						<string>refs</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>256</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>11</integer>
						<key>protocol</key>
						<string>refs</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>256</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>2</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>32</integer>
						<key>protocol</key>
						<string>at</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>2</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>33</integer>
						<key>protocol</key>
						<string>at</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>2</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>0</integer>
						<key>protocol</key>
						<string>loopback</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>2</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>1</integer>
						<key>protocol</key>
						<string>loopback</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>1000</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>2048</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>1</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>92</integer>
						<key>protocol</key>
						<string>audio</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>0</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>256</integer>
						</dict>
					</dict>
					<dict>
						<key>direction</key>
						<integer>2</integer>
						<key>eventIndex</key>
						<integer>1</integer>
						<key>execenv</key>
						<integer>2</integer>
						<key>index</key>
						<integer>93</integer>
						<key>protocol</key>
						<string>audio</string>
						<key>reliable</key>
						<integer>0</integer>
						<key>transfer_ring</key>
						<dict>
							<key>setting</key>
							<dict>
								<key>default_ieob</key>
								<integer>0</integer>
								<key>default_ieot</key>
								<integer>0</integer>
								<key>default_int</key>
								<integer>0</integer>
								<key>doorbell</key>
								<dict>
									<key>threshold</key>
									<integer>80</integer>
									<key>time</key>
									<integer>0</integer>
								</dict>
								<key>ieob_threshold</key>
								<integer>10</integer>
								<key>ieot_threshold</key>
								<integer>50</integer>
								<key>int_threshold</key>
								<integer>80</integer>
							</dict>
							<key>size</key>
							<integer>256</integer>
						</dict>
					</dict>
				</array>
				<key>command_ring</key>
				<dict>
					<key>setting</key>
					<dict>
						<key>doorbell</key>
						<dict>
							<key>threshold</key>
							<integer>80</integer>
							<key>time</key>
							<integer>1000</integer>
						</dict>
					</dict>
					<key>size</key>
					<integer>1024</integer>
				</dict>
				<key>command_timeout_us</key>
				<integer>1000000</integer>
				<key>event_ring</key>
				<array>
					<dict>
						<key>setting</key>
						<dict>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod</key>
							<integer>1</integer>
						</dict>
						<key>size</key>
						<integer>1024</integer>
					</dict>
					<dict>
						<key>setting</key>
						<dict>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod</key>
							<integer>1</integer>
						</dict>
						<key>size</key>
						<integer>4096</integer>
					</dict>
					<dict>
						<key>setting</key>
						<dict>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod</key>
							<integer>0</integer>
						</dict>
						<key>size</key>
						<integer>8192</integer>
					</dict>
					<dict>
						<key>alignment</key>
						<integer>2048</integer>
						<key>setting</key>
						<dict>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod</key>
							<integer>0</integer>
							<key>sync</key>
							<integer>1</integer>
						</dict>
						<key>size</key>
						<integer>2048</integer>
					</dict>
					<dict>
						<key>alignment</key>
						<integer>2048</integer>
						<key>setting</key>
						<dict>
							<key>doorbell</key>
							<dict>
								<key>threshold</key>
								<integer>80</integer>
								<key>time</key>
								<integer>1000</integer>
							</dict>
							<key>intmod</key>
							<integer>3</integer>
							<key>sync</key>
							<integer>1</integer>
						</dict>
						<key>size</key>
						<integer>2048</integer>
					</dict>
				</array>
				<key>memory_pool</key>
				<array>
					<integer>512</integer>
					<integer>4096</integer>
					<integer>16384</integer>
				</array>
				<key>msi_range</key>
				<array>
					<dict>
						<key>high</key>
						<integer>101</integer>
						<key>low</key>
						<integer>0</integer>
					</dict>
				</array>
				<key>num_channel_context</key>
				<integer>128</integer>
				<key>num_event</key>
				<integer>5</integer>
				<key>num_event_context</key>
				<integer>128</integer>
				<key>num_hw_channel_context</key>
				<integer>2</integer>
				<key>num_hw_event</key>
				<integer>2</integer>
				<key>num_msi</key>
				<integer>4</integer>
			</dict>
			<key>device_wake_dead_time</key>
			<integer>6000</integer>
			<key>logSnapshotBufferSize</key>
			<integer>65536</integer>
			<key>memory_alloc_limit</key>
			<integer>10485760</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2013 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleBasebandPCI</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
