<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleARMPlatform</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2009 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleARMPlatform</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleARMPlatform</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.2</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleARMBacklight</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMBacklight</string>
			<key>IONameMatch</key>
			<string>backlight</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
			<key>backlight-control</key>
			<true/>
		</dict>
		<key>AppleARMCFIFlashController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMCFIFlashController</string>
			<key>IONameMatch</key>
			<string>nor-flash,cfi</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleARMCHRPNVRAM</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMCHRPNVRAM</string>
			<key>IONameMatch</key>
			<string>nvram,chrp</string>
			<key>IOProviderClass</key>
			<string>AppleARMNORFlashDevice</string>
		</dict>
		<key>AppleARMCPU</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMCPU</string>
			<key>IONameMatch</key>
			<string>cpu</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleARMCharger</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMPMUCharger</string>
			<key>IONameMatch</key>
			<string>charger</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>battery-data</key>
			<dict>
				<key>0003-default</key>
				<data>
				AABkAAAA//8AAGQAAABoEAAAXwAAADYQAABbAAAAIRAA
				AFYAAAD+DwAAUgAAAM8PAABNAAAAtw8AAEkAAACaDwAA
				RAAAAH0PAABAAAAAZQ8AADsAAABIDwAANwAAADAPAAAy
				AAAAJQ8AAC0AAAANDwAAKQAAAAEPAAAkAAAA8A4AACAA
				AADwDgAAGwAAANgOAAAXAAAA2A4AABIAAADHDgAADgAA
				ALUOAAAJAAAAng4AAAUAAAB7DgAAAwAAAFMOAAACAAAA
				eg0AAAAAAAC4CwAAABAAAAgQAAAAAAAAAAA=
				</data>
				<key>0004-default</key>
				<data>
				AABkAAAA//99A2MARARIEBCyYgCq6j0QomBiAGYmKBA1
				D2IAiEgkEMe9YQB3tx4QWmxhADNzGxDsGmEAVVUYEH/J
				YABVVRQQEXhgAAAADxCkJmAAAIAMEDbVXwDuLggQyYNf
				AJkZBRBbMl8AqmoBEO7gXgBVVf4PgI9eAETE+Q8TPl4A
				iEj3D6XsXQCISPIPOJtdAN0d8Q/KSV0AuzvtD134XAC7
				u+kP76ZcAGZm5Q+BVVwA3Z3jDxQEXABVFeAPprJbAMwM
				3A85YVsAmVnZD8sPWwARUdYPXr5aADMz0w/wbFoAM7PQ
				D4MbWgAzs80PFcpZAGamxg+oeFkAzIzCDzonWQB3t8MP
				zdVYAJlZwA9fhFgAmZm9D/IyWABEBLsPhOFXABFRtw8X
				kFcAAIC0D6k+VwCZWbIPPO1WAMxMqg/Om1YAuzuqD2FK
				VgBExKgP8/hVABHRpQ+Gp1UAdzehDxhWVQAAwJ4PqwRV
				AABAng89s1QAu/uaD9BhVAC7e5gPYhBUAACAkw/1vlMA
				iMiSD4dtUwARUZAPGhxTABGRjA+sylIAzMyGDz55UgAA
				AIcP0SdSAN0dhA9j1lEAVdWAD/aEUQBExH4PiDNRAFWV
				ew8b4lAA3Z13D62QUAAionUPQD9QAGbmbw/S7U8AM7Nw
				D2WcTwBV1W0P90pPAHf3ag+K+U4AmRlnDxyoTgAzs2UP
				r1ZOAMzMYg9BBU4AmdldD9SzTQDurlsPZmJNAEQEWw/5
				EE0A7i5YD4u/TAAAgFUPHm5MACJiUg+wHEwAZiZQD0PL
				SwC7u0wP1XlLACIiRA9oKEsAEZFHD/rWSgAiIkUPjYVK
				AABAQw8fNEoAdzdAD7LiSQAi4j0PRJFJAHf3Ng/XP0kA
				mdk4D2nuSAB3dzUP+5xIAKrqMw+OS0gAiMgwDyD6RwBm
				5i4Ps6hHAAAALA9FV0cAAMAnD9gFRwAAQCcParRGAN2d
				JA/9YkYAMzMgD48RRgCqaiEPIsBFAJnZHg+0bkUAEREc
				D0cdRQAiYhoP2ctEAETEFA9sekQARIQUD/4oRACZWRIP
				kddDAHf3Dg8jhkMAEdEMD7Y0QwC7+woPSONCAIjICA/b
				kUIAREQFD21AQgAREQEPAO9BAFXVAA+SnUEAAAD/DiVM
				QQDMDPwOt/pAADNz+Q5KqUAAAID3DtxXQACZmfAObwZA
				AMwM8w4BtT8AVZXuDpNjPwCqau4OJhI/AETE6w64wD4A
				zMzpDktvPgCICOcO3R0+AGYm4g5wzD0AVZXiDgJ7PQAz
				M+EOlSk9AGbm3Q4n2DwAd3fcDrqGPADurtkOTDU8AFUV
				2A7f4zsAIuLTDnGSOwAAQNEOBEE7AO4u0Q6W7zoAu/vO
				DimeOgC7e8sOu0w6AO7uyg5O+zkAiMjIDuCpOQAzs8cO
				c1g5AJmZww4FBzkAzAzDDpi1OAAzM8EOKmQ4AJmZvw69
				EjgAZua9Dk/BNwCq6rsO4m83AN2dtw50HjcA3V21DgfN
				NgAAwLYOmXs2ABGRtA4sKjYAuzuzDr7YNQARkbEOUIc1
				AEQEsA7jNTUARASuDnXkNAAAQKwOCJM0AESEqg6aQTQA
				ERGnDi3wMwARkacOv54zAGampQ5STTMAIqKkDuT7MgBV
				FaIOd6oyAN2dog4JWTIAuzubDpwHMgDMTKAOLrYxAMxM
				nA7BZDEAiEidDlMTMQAiYpsO5sEwACLimQ54cDAAZiaW
				DgsfMADMTJUOnc0vAJlZlQ4wfC8ARISTDsIqLwCZ2ZIO
				VdkuAKrqkA7nhy4AEdGQDno2LgBEhI8ODOUtAEQEjg6f
				ky0Au/uLDjFCLQAiIosOxPAsAO5uhw5WnywAmVmJDulN
				LABV1YgOe/wrABHRhA4NqysAERGEDqBZKwCICIMOMggr
				AAAAgw7FtioAImKADldlKgBVlX8O6hMqAN2dfg58wikA
				M/N9Dg9xKQCqan0OoR8pAGbmeg40zigAzIx7DsZ8KADu
				rnUOWSsoAACAeA7r2ScAu7t2Dn6IJwAAgHUOEDcnALs7
				dQ6j5SYAVRVvDjWUJgB3d3MOyEImAMwMcg5a8SUAd7dx
				Du2fJQB3N3AOf04lAFVVbQ4S/SQAd3dtDqSrJAAz82wO
				N1okAFUVaw7JCCQA3d1oDly3IwAAwGkO7mUjAJkZaQ6B
				FCMAAEBoDhPDIgAzM2YOpXEiABHRYg44ICIA7m5mDsrO
				IQCqamUOXX0hACIiYw7vKyEAzExiDoLaIAAiomEOFIkg
				AHe3YA6nNyAAiAhbDjnmHwCqKl8OzJQfAN1dXg5eQx8A
				iAhdDvHxHgCICFoOg6AeAN0dWw4WTx4Au7taDqj9HQAR
				EVoOO6wdAGYmWA7NWh0AAEBZDmAJHQAREVgO8rccAEQE
				VA6FZhwAzExVDhcVHABVFVQOqsMbAHc3VA48chsAERFL
				Ds8gGwBExFEOYc8aAIgIUA70fRoAZiZPDoYsGgB3d00O
				GdsZAIiITQ6riRkA3V1LDj44GQC7O0oO0OYYADOzSQ5i
				lRgAZiZJDvVDGAAi4kgOh/IXAFVVRw4aoRcAIqJEDqxP
				FwAREUYOP/4WAMzMQQ7RrBYAdzdCDmRbFgDMDEIO9gkW
				AKpqQQ6JuBUAqqo/DhtnFQDd3T4OrhUVAKpqPQ5AxBQA
				M/M7DtNyFAAiYjkOZSEUAKqqOQ74zxMAIuI3Dop+EwAi
				ojcOHS0TAIiINQ6v2xIAIuI1DkKKEgCZGTIO1DgSAACA
				MQ5n5xEA3R0wDvmVEQCZGS8OjEQRAN1dKw4e8xAAu7ss
				DrGhEAAzMyoOQ1AQAGYmKg7W/g8AmZkoDmitDwC7uyYO
				+lsPAIhIJg6NCg8AVVUjDh+5DgBV1SEOsmcOAKqqIA5E
				Fg4AiIgeDtfEDQBV1RcOaXMNACKiGg78IQ0AzMwXDo7Q
				DADMTBYOIX8MAO4uFQ6zLQwA7u4SDkbcCwBmJg0O2IoL
				AIgIDg5rOQsAuzsIDv3nCgCqagkOkJYKAESEBQ4iRQoA
				VdUDDrXzCQBVFQQOR6IJAO7uAA7aUAkAVVX+DWz/CAB3
				d/wN/60IAETE+w2RXAgAVRX4DSQLCAC7u/YNtrkHAGam
				9Q1JaAcAzAz0DdsWBwAi4vANbsUGADOz7w0AdAYAiIjs
				DZMiBgDuLuoNJdEFAO4u5w23fwUA3R3kDUouBQCqqt8N
				3NwEACKi2g1viwQAM7PVDQE6BACISM8NlOgDAFUVxw0m
				lwMARMS9DblFAwB397ENS/QCAMyMpg3eogIAmRmYDXBR
				AgCIyIANAwACAMxMcQ2VrgEAzAxeDShdAQAzM0YNAAAA
				AAAAuAsAAAAAAAAAAA==
				</data>
				<key>0005-default</key>
				<data>
				AABkAAAA//8AAGMA50F0EAAAYgAw4VgQAABhAEFrSxAA
				AGAAhO0+EAAAXwCZjjMQAABeAA0SKRAAAF0APbodEAAA
				XAAhJRMQAABbAIJeCBAAAFoAOrX+DwAAWQCK1vMPAABY
				AFR16A8AAFcAq5fdDwAAVgASVdMPAABVALNWyQ8AAFQA
				x/m+DwAAUwA7ibUPAABSAKJgqg8AAFEAcGGhDwAAUABW
				zpcPAABPAHLijA8AAE4AOruDDwAATQCennsPAABMACqT
				cg8AAEsALXBoDwAASgBt0V4PAABJAKq3VQ8AAEgAbYdN
				DwAARwBnKkMPAABGAFhpOg8AAEUAjREyDwAARACLIikP
				AABDANXEIA8AAEIATUAYDwAAQQDTXxEPAABAAJljBw8A
				AD8A157/DgAAPgBDWvgOAAA9AJTT8A4AADwAgmzoDgAA
				OwA7SuEOAAA6APmO2w4AADkAfubSDgAAOABkQ80OAAA3
				AMckxQ4AADYAu2q+DgAANQA+CroOAAA0AOBysg4AADMA
				D+asDgAAMgAvlKkOAAAxAKEIow4AADAAfQSeDgAALwDJ
				TZoOAAAuAE2ClA4AAC0A98CODgAALAC4u4sOAAArADFW
				iA4AACoAz0qEDgAAKQCG6YAOAAAoAMOGew4AACcAY455
				DgAAJgAgm3UOAAAlAKYScw4AACQAEZptDgAAIwAohmsO
				AAAiAIY0aA4AACEAT0FlDgAAIADWImMOAAAfADDLXw4A
				AB4Ac3heDgAAHQAAMl0OAAAcAIbrVw4AABsAIB1WDgAA
				GgCG81EOAAAZANdHTw4AABgABstMDgAAFwBMAUgOAAAW
				AN0PRA4AABUAhZ5ADgAAFADqzj4OAAATAA0kOQ4AABIA
				XtA0DgAAEQAmUDAOAAAQABErLw4AAA8A1ZYnDgAADgAr
				iR8OAAANAKzjFw4AAAwAWmARDgAACwBu4QoOAAAKAJt/
				AA4AAAkADQ75DQAACAA8ifANAAAHABdc6g0AAAYAs47k
				DQAABQA7sN4NAAAEAExk1A0AAAMA6d/KDQAAAgDi67gN
				AAABAFMLlw0AAAAAFlxbDQAAAAAAALgLAAAAAAAAAAA=
				</data>
				<key>0006-default</key>
				<data>
				AABkAAAA//8AAGMAAACzEAAAYgAAAKcQAABhAAAAnBAA
				AGAAAACREAAAXwAAAIYQAABeAAAAexAAAF0AAABwEAAA
				XAAAAGUQAABbAAAAWxAAAFoAAABQEAAAWQAAAEYQAABY
				AAAAPBAAAFcAAAAxEAAAVgAAACcQAABVAAAAHRAAAFQA
				AAASEAAAUwAAAAgQAABSAAAA/g8AAFEAAAD0DwAAUAAA
				AOsPAABPAAAA5Q8AAE4AAADgDwAATQAAANkPAABMAAAA
				yw8AAEsAAAC5DwAASgAAAKkPAABJAAAAmw8AAEgAAACQ
				DwAARwAAAIgPAABGAAAAgg8AAEUAAAB9DwAARAAAAHgP
				AABDAAAAcg8AAEIAAABrDwAAQQAAAGMPAABAAAAAWw8A
				AD8AAABTDwAAPgAAAEoPAAA9AAAAQQ8AADwAAAA5DwAA
				OwAAADEPAAA6AAAAKQ8AADkAAAAiDwAAOAAAABsPAAA3
				AAAAFQ8AADYAAAAPDwAANQAAAAoPAAA0AAAABQ8AADMA
				AAAADwAAMgAAAPsOAAAxAAAA9w4AADAAAADyDgAALwAA
				AO4OAAAuAAAA6g4AAC0AAADmDgAALAAAAOMOAAArAAAA
				3w4AACoAAADcDgAAKQAAANkOAAAoAAAA1Q4AACcAAADS
				DgAAJgAAAM8OAAAlAAAAzQ4AACQAAADKDgAAIwAAAMcO
				AAAiAAAAxA4AACEAAADCDgAAIAAAAL8OAAAfAAAAvQ4A
				AB4AAAC7DgAAHQAAALgOAAAcAAAAtg4AABsAAAC0DgAA
				GgAAALEOAAAZAAAArg4AABgAAACrDgAAFwAAAKgOAAAW
				AAAApA4AABUAAACgDgAAFAAAAJ0OAAATAAAAmQ4AABIA
				AACUDgAAEQAAAI8OAAAQAAAAiA4AAA8AAACDDgAADgAA
				AH0OAAANAAAAdQ4AAAwAAABtDgAACwAAAGoOAAAKAAAA
				aQ4AAAkAAABnDgAACAAAAGUOAAAHAAAAYw4AAAYAAABe
				DgAABQAAAFUOAAAEAAAAOQ4AAAMAAAALDgAAAgAAAM8N
				AAABAAAAhA0AAAAAAABIDQAAAAAAAAAAAA==
				</data>
			</dict>
			<key>built-in</key>
			<true/>
		</dict>
		<key>AppleARMI2CEEPROM</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMI2CEEPROM</string>
			<key>IONameMatch</key>
			<string>eeprom,i2c</string>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
		</dict>
		<key>AppleARMLightEmUp</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMLightEmUp</string>
			<key>IONameMatch</key>
			<string>cpu-debug-interface</string>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>AppleARMNMI</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMNMI</string>
			<key>IONameMatch</key>
			<string>programmer-switch</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleARMNORPanicLog</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMNORPanicLog</string>
			<key>IONameMatch</key>
			<string>paniclog</string>
			<key>IOProviderClass</key>
			<string>AppleARMNORFlashDevice</string>
		</dict>
		<key>AppleARMPE</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMPE</string>
			<key>IONameMatch</key>
			<string>AppleARM</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOProviderClass</key>
			<string>IOPlatformExpertDevice</string>
			<key>SystemPowerProfileOverrideDict</key>
			<dict>
				<key>System Sleep Timer</key>
				<integer>2147483647</integer>
			</dict>
		</dict>
		<key>AppleARMPWMBacklight</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMPWMBacklight</string>
			<key>IONameMatch</key>
			<string>backlight,pwm</string>
			<key>IOProviderClass</key>
			<string>AppleARMPWMDevice</string>
			<key>backlight-control</key>
			<true/>
		</dict>
		<key>AppleARMPassthroughPowerSource</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMPassthroughPowerSource</string>
			<key>IONameMatch</key>
			<string>charger,passthrough</string>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>IOService</string>
			<key>built-in</key>
			<true/>
		</dict>
		<key>AppleARMSPIFlashController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMSPIFlashController</string>
			<key>IONameMatch</key>
			<string>nor-flash,spi</string>
			<key>IOProviderClass</key>
			<string>AppleARMSPIDevice</string>
		</dict>
		<key>AppleARMSlowAdaptiveClockingManager</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMSlowAdaptiveClockingManager</string>
			<key>IONameMatch</key>
			<string>sacm</string>
			<key>IOProviderClass</key>
			<string>IOPlatformDevice</string>
		</dict>
		<key>AppleARMSoftIICController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleARMSoftIICController</string>
			<key>IONameMatch</key>
			<string>iic,soft</string>
			<key>IOProbeScore</key>
			<integer>100</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOReportFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOSlowAdaptiveClockingFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
