<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleANX9836.SPDIF</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleANX9836.SPDIF</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleANX9836.SPDIF</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleANX9836(Split with SPDIF)</key>
		<dict>
			<key>BranchIEEEOUI</key>
			<integer>8889</integer>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleANX9836.SPDIF</string>
			<key>IOClass</key>
			<string>AppleANX9836</string>
			<key>IOProviderClass</key>
			<string>IODPDevice</string>
			<key>Mode</key>
			<string>Split-FW</string>
			<key>supports_spdif</key>
			<true/>
		</dict>
		<key>AppleANX9836(Standalone with SPDIF)</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleANX9836.SPDIF</string>
			<key>IOClass</key>
			<string>AppleANX9836</string>
			<key>IOProviderClass</key>
			<string>IODPDevice</string>
			<key>Mode</key>
			<string>Standalone</string>
			<key>SinkIEEEOUI</key>
			<integer>8889</integer>
			<key>supports_spdif</key>
			<true/>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2010 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.2</string>
		<key>com.apple.iokit.IOAVFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IODisplayPortFamily</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0b2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
