<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleBasebandPCIICEPDP</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleBasebandPCIICEPDP</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleBasebandPCIICEPDP</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleBasebandPCIADAM</key>
		<dict>
			<key>ABPInterfaceProtocol</key>
			<string>data</string>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBasebandPCIICEPDP</string>
			<key>IOClass</key>
			<string>AppleBasebandPCIADAM</string>
			<key>IOMatchCategory</key>
			<string>AppleBasebandPCIADAM</string>
			<key>IOProviderClass</key>
			<string>AppleBasebandPCIRTIInterface</string>
			<key>constants</key>
			<dict>
				<key>fallback</key>
				<string>ice16</string>
				<key>ice16</key>
				<dict>
					<key>max_packets_in_aggregation_block</key>
					<integer>32</integer>
					<key>max_write_size</key>
					<integer>16384</integer>
					<key>num_pending_reads</key>
					<integer>32</integer>
					<key>read_size</key>
					<integer>16384</integer>
					<key>soft_flow_control_disable_write_bytes</key>
					<integer>15000</integer>
					<key>soft_flow_control_disable_writes</key>
					<integer>48</integer>
					<key>soft_flow_control_enable_write_bytes</key>
					<integer>37500</integer>
					<key>soft_flow_control_enable_writes</key>
					<integer>64</integer>
				</dict>
			</dict>
		</dict>
		<key>AppleBasebandPCIPDPManager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleBasebandPCIICEPDP</string>
			<key>IOClass</key>
			<string>AppleBasebandPCIPDPManager</string>
			<key>IOMatchCategory</key>
			<string>AppleBasebandPCIPDPManager</string>
			<key>IOProviderClass</key>
			<string>AppleBasebandD101</string>
			<key>constants</key>
			<dict>
				<key>fallback</key>
				<string>ice16</string>
				<key>ice16</key>
				<dict>
					<key>ifnet_eflags</key>
					<dict>
						<key>IFEF_3CA</key>
						<true/>
					</dict>
					<key>max_packet_size</key>
					<integer>2048</integer>
					<key>min_packet_size</key>
					<integer>64</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleBasebandPCI</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleBasebandPCIICEControl</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleIPAppender</key>
		<string>1.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4.3</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0d1</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
