<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.usb.AppleUSBHostUserClient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>I/O Kit Driver for USB User Clients</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBHostDeviceUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>9dc7b780-9ec0-11d4-a54f-000a27052861</key>
					<string>IOUSBHostFamily.kext/PlugIns/IOUSBLib.bundle</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>AppleUSBHostDeviceUserClient</string>
			</dict>
			<key>bcdDevice</key>
			<string>*</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<string>*</string>
		</dict>
		<key>AppleUSBHostInterfaceUserClient</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProbeScore</key>
			<integer>9999</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>IOCFPlugInTypes</key>
				<dict>
					<key>2d9786c6-9ef3-11d4-ad51-000a27052861</key>
					<string>IOUSBHostFamily.kext/PlugIns/IOUSBLib.bundle</string>
				</dict>
				<key>IOUserClientClass</key>
				<string>AppleUSBHostInterfaceUserClient</string>
			</dict>
			<key>bConfigurationValue</key>
			<string>*</string>
			<key>bInterfaceNumber</key>
			<string>*</string>
			<key>bcdDevice</key>
			<string>*</string>
			<key>idProduct</key>
			<string>*</string>
			<key>idVendor</key>
			<string>*</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.1</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleUSBHostMergeProperties</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>16.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>16.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
