<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMultitouchSPIN102</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMultitouchSPIN102</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>365.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>365.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleMultitouchSPI - C1,N102</key>
		<dict>
			<key>AutomaticallySetOperatingMode</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchSPI</string>
			<key>HIDServiceSupport</key>
			<true/>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
				<string>AppleMultitouchSPI.kext/PlugIns/MultitouchHID.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleMultitouchN1SPI</string>
			<key>IONameMatch</key>
			<array>
				<string>multi-touch,n102</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMSPIDevice</string>
			<key>cal-dl-addr</key>
			<integer>268472320</integer>
			<key>clk32-clock-enable-addr</key>
			<integer>268449048</integer>
			<key>clk32-clock-enable-val</key>
			<integer>1</integer>
			<key>fll-mval</key>
			<integer>6099</integer>
			<key>fll-mval-addr</key>
			<integer>268447840</integer>
			<key>fw-execute-addr</key>
			<integer>268448768</integer>
			<key>mt-merge-personality</key>
			<string>C1F58,1</string>
			<key>parser-type</key>
			<integer>1</integer>
			<key>prox-cal-addr</key>
			<integer>268473856</integer>
			<key>ref-clk-div-val</key>
			<integer>2</integer>
			<key>reset-deassert-delay</key>
			<integer>15</integer>
			<key>touch-size-id</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleMultitouchSPI</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
