<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D51</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMultitouchSPIN1F54</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMultitouchSPIN1F54</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>240.20</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>240.20</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A383</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0.internal</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G142</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleMultitouchSPI - N1,N88</key>
		<dict>
			<key>AutomaticallySetOperatingMode</key>
			<true/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleMultitouchSPI</string>
			<key>DisablePowerForUILock</key>
			<true/>
			<key>HIDServiceSupport</key>
			<true/>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>0516B563-B15B-11DA-96EB-0014519758EF</key>
				<string>AppleMultitouchSPI.kext/PlugIns/MultitouchHID.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>AppleMultitouchN1SPI</string>
			<key>IONameMatch</key>
			<array>
				<string>multi-touch,n88</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMSPIDevice</string>
			<key>ResetWhenExitingUILock</key>
			<true/>
			<key>mt-merge-personality</key>
			<string>N1F54,1</string>
			<key>parser-type</key>
			<integer>1</integer>
			<key>reset-deassert-delay</key>
			<integer>15</integer>
			<key>reset-deassert-high-z</key>
			<true/>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleMultitouchSPI</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
