<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleKernelExternalComponent</key>
	<true/>
	<key>AppleNeedsTEXTSegmentHash</key>
	<true/>
	<key>AppleTextHashes</key>
	<data>
	YXJtdjc6YjY0Y2I5NTg0ODZkYmYwZDY5OWFhMGQ0YTg2OTc4NDI3MWFkN2RhNzYzNWEw
	NGUyMGRhNDBmYTI2ODY3ZjAzNgphcm12N3M6NzA4MmNkMGMyYWNkYjlmZmExOTUwYzNk
	NDIwNjY0MDRlM2YxNjE5N2EwNTM5ZDc5ZmFlZDU5N2RlNjQxNDJjNQphcm02NDoyNGRk
	MDRkZjhjNGZlNWM2YjEzNmYyYTFlOTFlMzgxNzE3ZmY0N2FjNmJiNmY5ZGY0OGJiNWY0
	ZTRiZTY1ZTVjCg==
	</data>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>corecrypto</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kec.corecrypto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>corecrypto</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleAllowUserLoad</key>
	<true/>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>12.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.2</string>
		<key>com.apple.kpi.mach</key>
		<string>11.2</string>
		<key>com.apple.kpi.private</key>
		<string>11.2</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
