<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleKernelExternalComponent</key>
	<true/>
	<key>AppleNeedsTEXTSegmentHash</key>
	<true/>
	<key>AppleTextHashes</key>
	<data>
	YXJtdjc6Nzk4NzAzOWY3ZGY5M2YxZDA0M2ZkMTY4ZjRkZTViMTFmMDAyNzkwY2U2Yzlh
	ZGYxY2M5MjkwYmI1ODEyMTM3NAphcm12N3M6OTQ5NTUwYWFiMjdkOTBmYTdmZjc5Zjk5
	ZTZmMjhkMmQxMzFmNWVmZGNkNzVlMGNkZThmMGI3MjhmMGVlZDg5NAphcm02NDo4NjRj
	N2I4NzQyNjQwMWM3ZmUwNzczMmEyZmYzZjg3NWI3YWMyNGUyMDBhZTc0OTNmMzUzM2U3
	NGM3ZjZkZDcwCg==
	</data>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>corecrypto</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.kec.corecrypto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>corecrypto</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleAllowUserLoad</key>
	<true/>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.kpi.bsd</key>
		<string>12.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>11.2</string>
		<key>com.apple.kpi.mach</key>
		<string>11.2</string>
		<key>com.apple.kpi.private</key>
		<string>11.2</string>
		<key>com.apple.kpi.unsupported</key>
		<string>11.2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
