<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleAE2Audio</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleAE2Audio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleAE2Audio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>87.3</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>87.3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleAE2AOPI2SSwitch1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAE2AOPI2SSwitch1</string>
			<key>IONameMatch</key>
			<array>
				<string>aop-i2s-switch,t8010</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleAE2I2SSwitch2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAE2I2SSwitch2</string>
			<key>IONameMatch</key>
			<array>
				<string>i2s-switch,s5l8950x</string>
				<string>i2s-switch,s5l8942x</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleAE2I2SSwitch3</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAE2I2SSwitch3</string>
			<key>IONameMatch</key>
			<array>
				<string>i2s-switch,s5l8960x</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleAE2I2SSwitch5</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAE2I2SSwitch5</string>
			<key>IONameMatch</key>
			<array>
				<string>i2s-switch,t8010</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleAE2MCA</key>
		<dict>
			<key>IOClass</key>
			<string>AppleAE2MCA</string>
			<key>IONameMatch</key>
			<array>
				<string>mca,s8000</string>
				<string>mca,s5l8960x</string>
				<string>mca,s5l8950x</string>
				<string>mca,s5l8942x</string>
			</array>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
