<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IOAccessoryManager</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOAccessoryManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOAccessoryManager</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersion</key>
	<string>1.0.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Bulk Data</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryPowerMode</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusBulkData</string>
			<key>IOMatchCategory</key>
			<string>BD</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryManagerAID</string>
		</dict>
		<key>Bulk Data EA</key>
		<dict>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusEA</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryIDBusBulkDataEndpoint</string>
		</dict>
		<key>Bulk Data HID</key>
		<dict>
			<key>Authenticated</key>
			<true/>
			<key>HIDDefaultBehavior</key>
			<string></string>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusHIDDevice</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryIDBusBulkDataEndpoint</string>
		</dict>
		<key>Bulk Data PD</key>
		<dict>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>5</integer>
			<key>IOClass</key>
			<string>IOAccessoryIDBusPD</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryIDBusBulkDataEndpoint</string>
		</dict>
		<key>Dock 30-pin</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOClass</key>
			<string>IOAccessoryDock30PinBuiltIn</string>
			<key>IONameMatch</key>
			<array>
				<string>dock,30pin</string>
			</array>
			<key>IOProviderClass</key>
			<string>IOService</string>
		</dict>
		<key>IAP ID Bus</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryDeviceDynamicPort</key>
			<true/>
			<key>IOAccessoryIDBusBulkDataEndpointFunction</key>
			<integer>4</integer>
			<key>IOClass</key>
			<string>IOAccessoryPortIDBus</string>
			<key>IOProviderClass</key>
			<string>IOAccessoryIDBusBulkDataEndpoint</string>
		</dict>
		<key>IAP Serial Port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryDevicePort</key>
			<integer>1</integer>
			<key>IOClass</key>
			<string>IOAccessoryPortSerialSync</string>
			<key>IOMatchCategory</key>
			<string>IOAccessoryPort</string>
			<key>IONameMatch</key>
			<string>iap</string>
			<key>IOProviderClass</key>
			<string>AppleOnboardSerialSync</string>
		</dict>
		<key>IAP USB Port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOAccessoryManager</string>
			<key>IOAccessoryDevicePort</key>
			<integer>2</integer>
			<key>IOClass</key>
			<string>IOAccessoryPortUSB</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>USBDeviceFunction</key>
				<string>IapOverUsbHid</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOUSBDeviceInterface</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleOnboardSerial</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBDeviceFamily</key>
		<string>2.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
