<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2.0a3</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleHIDKeyboardEmbedded</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleHIDKeyboardEmbedded</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.2.0a3</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>iAP B62 ANSI Map</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>6</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>7</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>FnFunctionUsageMap</key>
			<string>0x00070029,0x000c0040,0x0007003a,0x000C0221,0x0007003b,0xff010021,0x0007003c,0xff010020,0x0007003d,0x000c01b1,0x0007003e,0x000c01ae,0x00070040,0x000C00B4,0x00070041,0x000C00CD,0x00070042,0x000C00B3,0x00070043,0x000C00E2,0x00070044,0x000C00EA,0x00070045,0x000C00E9,0x00070068,0x000C0030</string>
			<key>FnModifierUsage</key>
			<integer>3</integer>
			<key>FnModifierUsagePage</key>
			<integer>255</integer>
			<key>HIDDefaultBehavior</key>
			<string>Keyboard</string>
			<key>IOClass</key>
			<string>AppleEmbeddedKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProductID</key>
			<integer>572</integer>
			<key>StandardType</key>
			<integer>0</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>iAP B62 ISO Map</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>6</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>7</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>FnFunctionUsageMap</key>
			<string>0x00070029,0x000c0040,0x0007003a,0x000C0221,0x0007003b,0xff010021,0x0007003c,0xff010020,0x0007003d,0x000c01b1,0x0007003e,0x000c01ae,0x00070040,0x000C00B4,0x00070041,0x000C00CD,0x00070042,0x000C00B3,0x00070043,0x000C00E2,0x00070044,0x000C00EA,0x00070045,0x000C00E9,0x00070068,0x000C0030</string>
			<key>FnModifierUsage</key>
			<integer>3</integer>
			<key>FnModifierUsagePage</key>
			<integer>255</integer>
			<key>HIDDefaultBehavior</key>
			<string>Keyboard</string>
			<key>IOClass</key>
			<string>AppleEmbeddedKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>ProductID</key>
			<integer>573</integer>
			<key>StandardType</key>
			<integer>1</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
		<key>iAP B62 JIS Map</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOHIDFamily</string>
			<key>DeviceUsagePairs</key>
			<array>
				<dict>
					<key>DeviceUsage</key>
					<integer>6</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>DeviceUsage</key>
					<integer>7</integer>
					<key>DeviceUsagePage</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>FnFunctionUsageMap</key>
			<string>0x00070029,0x000c0040,0x0007003a,0x000C0221,0x0007003b,0xff010021,0x0007003c,0xff010020,0x0007003d,0x000c01b1,0x0007003e,0x000c01ae,0x00070040,0x000C00B4,0x00070041,0x000C00CD,0x00070042,0x000C00B3,0x00070043,0x000C00E2,0x00070044,0x000C00EA,0x00070045,0x000C00E9,0x00070068,0x000C0030</string>
			<key>FnModifierUsage</key>
			<integer>3</integer>
			<key>FnModifierUsagePage</key>
			<integer>255</integer>
			<key>HIDDefaultBehavior</key>
			<string>Keyboard</string>
			<key>IOClass</key>
			<string>AppleEmbeddedKeyboard</string>
			<key>IOProviderClass</key>
			<string>IOHIDInterface</string>
			<key>KeyboardUsageMap</key>
			<dict>
				<key>0x00ff0003</key>
				<integer>458982</integer>
				<key>0xff010003</key>
				<integer>458982</integer>
			</dict>
			<key>ProductID</key>
			<integer>574</integer>
			<key>StandardType</key>
			<integer>2</integer>
			<key>VendorID</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2009 Apple Inc.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.4</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d2</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d2</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Console</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
