<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D51</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HighlandParkAudioDevice</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.HighlandParkAudioDevice</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>HighlandParkAudioDevice</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>195.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>195.1</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A383</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0.internal</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G142</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AUD10</key>
		<dict>
			<key>IOClass</key>
			<string>AUD10</string>
			<key>IOMatchCategory</key>
			<string>AUD10</string>
			<key>IONameMatch</key>
			<string>highland-park,aud10</string>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
			<key>device UID</key>
			<string>HighlandPark</string>
			<key>device name</key>
			<string>HighlandPark</string>
		</dict>
		<key>DeltaCoreIP</key>
		<dict>
			<key>IOClass</key>
			<string>DeltaCoreIP</string>
			<key>IOMatchCategory</key>
			<string>DeltaCoreIP</string>
			<key>IONameMatch</key>
			<string>adsp,s5l8950x</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>device UID</key>
			<string>HighlandPark</string>
			<key>device name</key>
			<string>HighlandPark</string>
		</dict>
		<key>GammaCoreIP</key>
		<dict>
			<key>IOClass</key>
			<string>GammaCoreIP</string>
			<key>IOMatchCategory</key>
			<string>GammaCoreIP</string>
			<key>IONameMatch</key>
			<string>highland-park,s5l8940x</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
			<key>device UID</key>
			<string>HighlandPark</string>
			<key>device name</key>
			<string>HighlandPark</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>OSBundleCompatibleVersion</key>
	<string>2.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleOnboardSerial</key>
		<string>1.0</string>
		<key>com.apple.iokit.AppleARMIISAudio</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
