<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>IOTimeSyncFamily</string>
	<key>CFBundleGetInfoString</key>
	<string>IOTimeSyncFamily 500.26, Copyright © 2010-2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IOTimeSyncFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IOTimeSyncFamily</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>500.26</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>500.26</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>IOTimeSyncClockManager</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IOTimeSyncFamily</string>
			<key>IOClass</key>
			<string>IOTimeSyncClockManager</string>
			<key>IOMatchCategory</key>
			<string>IOTimeSyncClockManager</string>
			<key>IOProbeScore</key>
			<integer>0</integer>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOTimeSyncClockManager</string>
			<key>IOUserClientClass</key>
			<string>IOTimeSyncClockManagerUserClient</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>IOTimeSyncFamily 500.26, Copyright © 2010-2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>500.10</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>2.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.iokit</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0.0d1</string>
		<key>com.apple.kpi.mach</key>
		<string>10.0.0d1</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
