<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D51</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleWM8991Audio</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleWM8991Audio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleWM8991Audio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A383</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0.internal</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G142</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleWM8991Audio-Control</key>
		<dict>
			<key>IOClass</key>
			<string>AppleWM8991Audio</string>
			<key>IONameMatch</key>
			<array>
				<string>audio-control,wm8991</string>
				<string>audio-control,wm1817</string>
			</array>
			<key>IOProbeScore</key>
			<integer>2000</integer>
			<key>IOProviderClass</key>
			<string>AppleARMIICDevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0</string>
		<key>com.apple.driver.AppleEmbeddedAudio</key>
		<string>1.1.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.5</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
