<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>IONVMeFamily</string>
	<key>CFBundleGetInfoString</key>
	<string>2.1.0, Copyright © 2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.iokit.IONVMeFamily</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>IONVMeFamily</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>2.1.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>14A301</string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.0</string>
	<key>DTSDKBuild</key>
	<string>14A301</string>
	<key>DTSDKName</key>
	<string>iphoneos10.0.internal</string>
	<key>DTXcode</key>
	<string>0800</string>
	<key>DTXcodeBuild</key>
	<string>8S128f</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleANS2NVMeController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONVMeFamily</string>
			<key>IOClass</key>
			<string>AppleANS2NVMeController</string>
			<key>IOProviderClass</key>
			<string>RTBuddyV2</string>
			<key>Physical Interconnect Location</key>
			<string>Internal</string>
		</dict>
		<key>AppleEmbeddedNVMeController</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iokit.IONVMeFamily</string>
			<key>IOClass</key>
			<string>AppleEmbeddedNVMeController</string>
			<key>IOPCIClassMatch</key>
			<string>0x01800200&amp;0xffffff00</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOUnitName</key>
			<string>disk</string>
			<key>IOUserClientClass</key>
			<string>AppleNVMeUpdateUC</string>
			<key>Physical Interconnect</key>
			<string>PCI-Express</string>
			<key>Physical Interconnect Location</key>
			<string>Internal</string>
		</dict>
		<key>NVMeSEPNotifier</key>
		<dict>
			<key>IOClass</key>
			<string>NVMeSEPNotifier</string>
			<key>IOMatchCategory</key>
			<string>NVMeSEPNotifier</string>
			<key>IOProviderClass</key>
			<string>AppleSEPManager</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.3</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleA7IOP</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleEmbeddedPCIE</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleMobileFileIntegrity</key>
		<string>1.0.1</string>
		<key>com.apple.driver.AppleNANDConfigAccess</key>
		<string>1.0.0</string>
		<key>com.apple.driver.IOSlaveProcessor</key>
		<string>1.0.0</string>
		<key>com.apple.driver.RTBuddy</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOHIDFamily</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.7.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>9.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>9.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
</dict>
</plist>
