<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBAudio</string>
	<key>CFBundleGetInfoString</key>
	<string>AppleUSBAudio 308.6, Copyright © 2000-2016 Apple Inc. All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleUSBAudio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBAudio</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>308.6</string>
	<key>CFBundleSignature</key>
	<string>aaud</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>308.6</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleUSBAudioControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBAudioDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>AppleUSBAudioStream</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBAudioStreamNode</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bInterfaceClass</key>
			<integer>1</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
		</dict>
		<key>AppleUSBDeviceAudioDevice</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBDeviceAudioDevice</string>
			<key>IOProviderClass</key>
			<string>AppleUSBDeviceAudioNub</string>
		</dict>
		<key>AppleUSBTrinityAudioControl</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBAudio</string>
			<key>IOClass</key>
			<string>AppleUSBTrinityAudioDevice</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>4353</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>InterfaceDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kpi.iokit</string>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>4359</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>NSHumanReadableCopyright</key>
	<string>AppleUSBAudio 308.6, Copyright © 2000-2016 Apple Inc. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.driver.AppleUSBDeviceAudioController</key>
		<string>300.0</string>
		<key>com.apple.iokit.IOAudio2Family</key>
		<string>1.0</string>
		<key>com.apple.iokit.IOUSBDeviceFamily</key>
		<string>2.0.0</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>safe boot</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
