<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D51</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleArasanFEController</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleArasanFEController</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleArasanFEController</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A383</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0.internal</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G142</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleArasanFEController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleArasanFEController</string>
			<key>IONameMatch</key>
			<string>ethernet,s5l8920x</string>
			<key>IONetworkRootType</key>
			<string>ethernet</string>
			<key>IOProviderClass</key>
			<string>AppleARMIODevice</string>
		</dict>
		<key>AppleEmbeddedKDP</key>
		<dict>
			<key>IOClass</key>
			<string>AppleEmbeddedKDP</string>
			<key>IOMatchCategory</key>
			<string>IOKDP</string>
			<key>IOProbeScore</key>
			<integer>10</integer>
			<key>IOProviderClass</key>
			<string>IOKernelDebugger</string>
		</dict>
		<key>AppleSMSC8710PhyController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSMSC8710PhyController</string>
			<key>IONameMatch</key>
			<string>ethphy,smsc8710</string>
			<key>IOProviderClass</key>
			<string>AppleEthernetPhyNub</string>
		</dict>
		<key>AppleSMSC8742PhyController</key>
		<dict>
			<key>IOClass</key>
			<string>AppleSMSC8742PhyController</string>
			<key>IONameMatch</key>
			<string>ethphy,smsc8742</string>
			<key>IOProviderClass</key>
			<string>AppleEthernetPhyNub</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2000-2012 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.4.3</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.private</key>
		<string>10.0.0d1</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
