<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleUSBEthernet</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.usb.ethernet.asix</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleUSBEthernet</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>5.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Apple AX88772a</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88772A</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5122</integer>
			<key>idVendor</key>
			<integer>1452</integer>
			<key>ioNetBootable</key>
			<data>
			AQ==
			</data>
		</dict>
		<key>Apple AX88772a Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>5122</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>Asix AX88178</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88178</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>6016</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Asix AX88178 Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>6016</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Asix AX88772</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88772A</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>30496</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Asix AX88772 Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>30496</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Asix AX88772a</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88772A</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>30506</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Asix AX88772a Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>30506</integer>
			<key>idVendor</key>
			<integer>2965</integer>
		</dict>
		<key>Belkin F5D5055</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88178</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>20565</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Belkin F5D5055 Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>20565</integer>
			<key>idVendor</key>
			<integer>1293</integer>
		</dict>
		<key>Buffalo LUA-U2-GT</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88178</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>110</integer>
			<key>idVendor</key>
			<integer>1041</integer>
		</dict>
		<key>Buffalo LUA-U2-GT Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>110</integer>
			<key>idVendor</key>
			<integer>1041</integer>
		</dict>
		<key>IO-DATA ETG-US2</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88178</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>2352</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>IO-DATA ETG-US2 Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>2352</integer>
			<key>idVendor</key>
			<integer>1211</integer>
		</dict>
		<key>Linksys USB1000</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88178</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>57</integer>
			<key>idVendor</key>
			<integer>5943</integer>
		</dict>
		<key>Linksys USB1000 Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>57</integer>
			<key>idVendor</key>
			<integer>5943</integer>
		</dict>
		<key>Linksys USB200M</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBEthernetControllerAX88772A</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>24</integer>
			<key>idVendor</key>
			<integer>5041</integer>
		</dict>
		<key>Linksys USB200M Device</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostCompositeDevice</string>
			<key>IOProbeScore</key>
			<integer>11000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>24</integer>
			<key>idVendor</key>
			<integer>5041</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>OSBundleCompatibleVersion</key>
	<string>5.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.usb.AppleUSBHostCompositeDevice</key>
		<string>1.0</string>
		<key>com.apple.driver.usb.networking</key>
		<string>5.0</string>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>3.2</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.0.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>14.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>14.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
