<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>11D51</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleMerlotLCD</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleMerlotLCD</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleMerlotLCD</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0d1</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>6.0</string>
	<key>DTSDKBuild</key>
	<string>10A383</string>
	<key>DTSDKName</key>
	<string>iphoneos6.0.internal</string>
	<key>DTXcode</key>
	<string>0450</string>
	<key>DTXcodeBuild</key>
	<string>4G142</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleMerlotLCD-LCD</key>
		<dict>
			<key>BacklightMatching</key>
			<dict>
				<key>IOPropertyMatch</key>
				<dict>
					<key>backlight-control</key>
					<true/>
				</dict>
			</dict>
			<key>IOClass</key>
			<string>AppleMerlotLCD</string>
			<key>IONameMatch</key>
			<string>lcd,merlot</string>
			<key>IOProviderClass</key>
			<string>AppleARMSPIDevice</string>
		</dict>
		<key>AppleMerlotLCD-MPLTX</key>
		<dict>
			<key>IOClass</key>
			<string>AppleMerlotLCD</string>
			<key>IONameMatch</key>
			<string>mpl-tx,lm2512</string>
			<key>IOProviderClass</key>
			<string>AppleARMSPIDevice</string>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>6.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleARMPlatform</key>
		<string>1.0.0</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
