<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>15A284</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AppleEmbeddedUSBHost</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.AppleEmbeddedUSBHost</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AppleEmbeddedUSBHost</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string></string>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>DTPlatformVersion</key>
	<string>10.3</string>
	<key>DTSDKBuild</key>
	<string>14E215</string>
	<key>DTSDKName</key>
	<string>iphoneos10.3.internal</string>
	<key>DTXcode</key>
	<string>0830</string>
	<key>DTXcodeBuild</key>
	<string>8V83d</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AppleEmbeddedUSBCardReader</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
			</dict>
			<key>idProduct</key>
			<integer>1826</integer>
			<key>idVendor</key>
			<integer>1507</integer>
		</dict>
		<key>AppleEmbeddedUSBCardReaderPrototype</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
			</dict>
			<key>idProduct</key>
			<integer>33795</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleEmbeddedUSBiPod-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleEmbeddedUSBiPod</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4752</integer>
			<key>idProductMask</key>
			<integer>65280</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleEmbeddedUSBiPod-IOUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>AppleEmbeddedUSBiPod</string>
			<key>IOProbeScore</key>
			<integer>10000</integer>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4752</integer>
			<key>idProductMask</key>
			<integer>65280</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleUSB20AccessoryHub0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB20AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>AppleUSB20AccessoryHub1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB20AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>AppleUSB20CameraKitHub</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB20CameraKitHub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4109</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>AppleUSB30AccessoryHub0</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB30AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>0</integer>
		</dict>
		<key>AppleUSB30AccessoryHub1</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB30AccessoryHub</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>bDeviceClass</key>
			<integer>9</integer>
			<key>bDeviceSubClass</key>
			<integer>1</integer>
		</dict>
		<key>AppleUSB30CameraKitHub</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSB30CameraKitHub</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4108</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU0-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4646</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU0-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4646</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU0-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4646</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU1-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4647</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU1-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4647</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU1-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4647</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU2-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4648</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU2-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4648</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU2-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4648</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU3-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4649</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU3-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4649</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSDFU3-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
				<key>kUSBResetDurationOverride</key>
				<integer>75</integer>
			</dict>
			<key>idProduct</key>
			<integer>4649</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSRecovery-AppleEmbeddedUSBDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>AppleEmbeddedUSBDevice</string>
			<key>idProduct</key>
			<integer>4737</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSRecovery-IOUSBHostDevice</key>
		<dict>
			<key>IOClass</key>
			<string>IOService</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>idProduct</key>
			<integer>4737</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
		<key>iOSRecovery-Merge</key>
		<dict>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOProviderClass</key>
			<string>IOUSBHostDevice</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>Authenticated</key>
				<true/>
				<key>kUSBConfigurationCurrentOverride</key>
				<integer>0</integer>
			</dict>
			<key>idProduct</key>
			<integer>4737</integer>
			<key>idVendor</key>
			<integer>1452</integer>
		</dict>
	</dict>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.driver.AppleMobileFileIntegrity</key>
		<string>1.0.2</string>
		<key>com.apple.driver.AppleUSBHostMergeProperties</key>
		<string>1.1</string>
		<key>com.apple.driver.usb.AppleUSBHostCompositeDevice</key>
		<string>1.1</string>
		<key>com.apple.driver.usb.AppleUSBHub</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBHostFamily</key>
		<string>1.1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0b1</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0b2</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0</string>
	</dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
</dict>
</plist>
