//
//  Common-SGX554-125.xcconfig
//  drvIMG
//
//  Created by Anthony Tai on 6/9/11.
//  Copyright 2011 Apple Inc. All rights reserved.
//

CORE=SGX554
SGX_CORE=554
SGX_CORE_REV=1251

// WARNING: Keep Shared/srvinit/Makefile in sync with XCConfigs/Common-SGX554-125.xcconfig
// NOTE: SUPPORT_SGX_PRIORITY_SCHEDULING is implicitly defined when SUPPORT_SGX_LOW_LATENCY_SCHEDULING is enabled!
SGX_PREPROCESSOR_DEFINITIONS = SGX554=1 SGX_CORE_REV=1251 SUPPORT_SGX554=1 SGX_FEATURE_MP=1 SGX_FEATURE_MP_PLUS=1 SGX_FEATURE_MP_CORE_COUNT=4 FORCE_ENABLE_GROW_SHRINK=1 SUPPORT_PERCONTEXT_PB=1 SGX_FEATURE_SYSTEM_CACHE=1 IMG_APPLE_MODIFICATION=1 SUPPORT_SGX_HWPERF=1 APPLE_DUTY_CYCLE_MANAGEMENT=1 IMG_APPLE_PROGRAMMABLE_BLEND=1 SUPPORT_SGX_LOW_LATENCY_SCHEDULING=1 APPLE_VNOM_PERFORMANCE_STATE=1
//  SGX_SUPPORT_VDM_TIMER_BASED_SWITCHING=1
